.sider {
	overflow: auto, ;
	height: 82vh;
	position: fixed;
	background: #fff;
	left: 0
}

.menu {
	height: 81vh;
	overflow: auto;
	overflow-x: hidden;
}

.menu::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}

.userhead {
	margin-top: 10px;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background: #fff;
	display: inline-block;
	line-height: 48px;
	color: #000;
}

.logo {
	font-size: 12px;
	text-align: center;
	color: #000;
	background: #fff;
	height: 10vh;
	line-height: 50px;
	border-right: 1px solid #f2f2f2;
	/*box-shadow: 0px 2px 6px #f0f1f2*/
}

.ant-input-group-addon {
	font-size: 12px !important;
}

.ant-btn {
	font-size: 12px;
}

.ant-menu-vertical .ant-menu-item,
.ant-menu-vertical-left .ant-menu-item,
.ant-menu-vertical-right .ant-menu-item,
.ant-menu-inline .ant-menu-item,
.ant-menu-vertical .ant-menu-submenu-title,
.ant-menu-vertical-left .ant-menu-submenu-title,
.ant-menu-vertical-right .ant-menu-submenu-title,
.ant-menu-inline .ant-menu-submenu-title{
	font-size:12px;
}
.ant-breadcrumb{
	font-size:12px
}
.loading{
	display: flex;
	justify-content: center;
	align-items: center;
	height:90vh;
	font-size:40px;
}
